<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<form action=" #"
      th:action=" @{/process}"
      th:object=" ${cleaning}"
      method="post">
    <input type ="hidden" th:field=" *{id}"/>

    Strength :<input type ="text" th:field=" *{strength}"/>
    <span th:if="${#fields.hasErrors('strength')}"
          th:errors ="*{strength}"></span><br />

    <input type="submit" value="Submit"/>
</form>

</body>
</html>