<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/process}" th:object="${Store}" method="post">

    <input type ="hidden" th:field="*{id}"/>


    Inventory :<input type="text" th:field=" *{inventory}"/>
    <span th:if="${#fields.hasErrors('inventory')}"
          th:errors="*{inventory}"></span><br/>
    revenue :<input type="text" th:field=" *{revenue}"/>
    <span th:if="${#fields.hasErrors('revenue')}"
          th:errors="*{revenue}"></span><br/>


    <input type="submit" value="Submit"/>

</form>


</body>
</html>